# use glob syntax.
syntax: glob
doc/_build/*
*.o
*.pyc
*.~
*.dat
*.orig
*~
*.a
*.mod
*.so
*.out
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info
config.mk
config/config.mk
src/f2py/libspline-f2pywrappers2.f90
src/f2py/libspline-f2pywrappers.f
*.DS_Store
